app/data.json
app/testing.ipynb
app/csvjson.json
app/data_customer.json
app/dataset_covid.csv
app/marketing_campaign.csv
data_customers.json
.DS_Store
.idea
app/__pycache__
app/routers/__pycache__
Pipfile.lock
app/__pycache__/main.cpython-39.pyc